* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

  .ListDays {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .monthDate {
    font-size: 11px;
    color: #8fcc9f;
  }

  .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .SelectedMeteoDay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #004509;
    width: 325px;
    padding: 20px 20px 50px 20px;
    border-radius: 15px;
    bottom: 0;
    position: absolute;
    z-index: 99999;
  }
  .meteoTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 15px;
  }
  
  .meteoDescription {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #8fcc9f;
    height: 100%;
  }
  .return {
    height: 40px;
    width: 40px;
    background-color: #004509;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 100%;
    padding: 10px;
    color: white;
    background-color: #004509;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  /*Media queries*/
  @media (max-width: 576px) {
    .firstRow {
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
    }
    .SelectedMeteoDay {
      position: relative !important;
      z-index: 0 !important;
    }
    .wrapper {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 20px 0 0 0 !important;
      min-height: 100vh;
    }
  }
  @media (min-width: 577px) and (max-width: 768px) {
    .firstRow {
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
    }
    .SelectedMeteoDay {
      position: relative !important;
      z-index: 0 !important;
    }
    .wrapper {
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      min-height: 100vh;
    }
  }