.App {
  text-align: center;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #144f18;
}
.searchInput {
  min-width: 500px;
  min-height: 50px;
  position: center;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  padding: 5px;
  margin-top: 15px !important;
}


.titleForcast {
  font-size: 50px;
  background: -webkit-linear-gradient(rgb(9, 136, 7), rgb(196, 211, 66));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listCountry {
  text-align: start !important;
  list-style: none;
  background-color: #fff;
  display: flex;
  justify-content: space-around ;
  flex-direction: column;
  padding: 10px !important;
  margin-top: 5px !important;
  border-radius: 5px;
}

.countryItem {
  text-decoration: none;
  color: #282c34;
  font-weight: bold;
}

li {
  padding: 5px;
  font-size: large;
}

.textSearch {
  width: 100%;
  border: 0;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: large;
  color: #144f18;
}
.textSearch::placeholder {
  color: #144f18;
  font-weight: bold;
}
